.album{
    background-color:#F4F4F4; 
  
}
.album__title{
    text-align: center;
    margin-top:2rem;
    margin-bottom: 3rem;
}
.album__imagenes{
    display: flex;
    overflow: scroll;
    margin-bottom: 15px
}
.album__imagenes-tittle{
    font-weight: 500;
    font-size: larger;
    text-decoration: underline #0A8989;
    margin-left: 10px;    
}